# Regular Expression in Python

In [1]:
import pandas as pd

In [2]:
import re

In [3]:
import regex as re

In [4]:
#print(help(re))

In [5]:
for i in dir(re):
    print(i,end=",")

A,ASCII,B,BESTMATCH,D,DEBUG,DEFAULT_VERSION,DOTALL,E,ENHANCEMATCH,F,FULLCASE,I,IGNORECASE,L,LOCALE,M,MULTILINE,Match,P,POSIX,Pattern,R,REVERSE,Regex,RegexFlag,S,Scanner,T,TEMPLATE,U,UNICODE,V0,V1,VERBOSE,VERSION0,VERSION1,W,WORD,X,__all__,__builtins__,__cached__,__doc__,__file__,__loader__,__name__,__package__,__path__,__spec__,__version__,_regex,_regex_core,cache_all,compile,error,escape,findall,finditer,fullmatch,match,purge,regex,search,split,splititer,sub,subf,subfn,subn,template,

In [6]:
print(len(dir(re)))

71

Metacharacters

In [7]:
pattern="Ram$"
string="Lord Ram"

In [13]:
string1="Hello Data science 1"
x=re.findall("[^a-m]",string1)
print(x)

['H', 'o', ' ', 'D', 't', ' ', 's', 'n', ' ', '1']

In [17]:
string1="Hello Data Science"
x=re.findall("[a-m]",string1)
print(x)

['e', 'l', 'l', 'a', 'a', 'c', 'i', 'e', 'c', 'e']

In [22]:
string1="Hello Data dB Science1"
x=re.findall("[a-p]",string1)
print(x)

['e', 'l', 'l', 'o', 'a', 'a', 'd', 'c', 'i', 'e', 'n', 'c', 'e']

# Findall

In [29]:
#sytax.re.findall(pattern, target_string

In [30]:
import re

pattern = "Data science |stram|tools|AI"
text = "Data science is a stram and it is a part of AI.you can solve many complexproblems using Data science tools and techs"

matches = re.findall(pattern,text)
print(matches)

['Data science ', 'stram', 'AI', 'Data science ', 'tools']

# Extracting digits from a string:

write a regular expression for to search digits a string

In [34]:
This code findall sequences of digits within the text.it will print['123','456']

SyntaxError: invalid syntax (1942848793.py, line 1)

In [44]:
pattern ="\d+"
text ="Threre are 123 apples and 456 oranges."

matches = re.findall(pattern,text)
print(matches)

['123', '456']

In [53]:
pattern = "\D"
text = "There are 123 apples and 456 oranges."

matches = re.findall(pattern, text)
print(matches)

['T', 'h', 'e', 'r', 'e', ' ', 'a', 'r', 'e', ' ', ' ', 'a', 'p', 'p', 'l', 'e', 's', ' ', 'a', 'n', 'd', ' ', ' ', 'o', 'r', 'a', 'n', 'g', 'e', 's', '.']

In [54]:
pattern ="[0-9]+"
text = "There are 123 apples and 456 oranges."

matches = re.findall(pattern,text)
print(matches)

['123', '456']

In [55]:
pattern="[0-9]+"
matches=re.findall(pattern,'abc123xyz456_0')
print(matches)

['123', '456', '0']

In [57]:
pattern="[0-9]"
matches=re.findall(pattern,'abc123xyz456_0')
print(matches)

['1', '2', '3', '4', '5', '6', '0']

In [58]:
# Exreacting digits from a list of string
price = ['Apple costs Rs 50','Rs 60 for each pineapple','Rs 150 per watermilon']
for msg in price:
    matches = re.findall("\d+",msg)
    print(matches)

['50']
['60']
['150']

In [76]:
target_string = "APJ Abdul Kalam was an Indian aeros123pace scientst also known as the Missile Man of India"
result = re.findall(r"\w{6}",target_string)

print("Match object: ", result)

Match object:  ['Indian', 'aeros1', '23pace', 'scient', 'Missil']

In [75]:
target_string = "APJ Abdul Kalam was an indian aerospace scientist also known as the Missile Man of India #@,"
result = re.findall(r"\w{4}", target_string)


print ("Match object: ",result)

Match object:  ['Abdu', 'Kala', 'indi', 'aero', 'spac', 'scie', 'ntis', 'also', 'know', 'Miss', 'Indi']

In [79]:
target_string="APJ Abdul Kalam was an Indian aerospace scientist also known as missile man of india"
result = re.findall(r"\w{4,6}",target_string)

print("match object: ",result)

match object:  ['Abdul', 'Kalam', 'Indian', 'aerosp', 'scient', 'also', 'known', 'missil', 'india']

In [81]:
#Extracing string which begins with A and ends with J or sring lenth begins with 1 from the given string.
import re 
sring = "APJ Abdul Kalam was an Indian scientist also known as the missile man of Indian "
pattern = 'A[a-zA-Z]+J|A[\w]+1'

result = re.findall (pattern, string)
print(result)

[]

# Split

In [85]:
#sytax- re.slpit(pattern, targetstring, maxsplit)


string = 'Twelve:12 Eighty nine:89.'
pattern = '\d+'

result = re.split(pattern,string)
print(result)

['Twelve:', ' Eighty nine:', '.']

In [86]:
# split at each white-space character (\s is split by space)
text = "India is a beautiful country"
x = re.split("\s",text)
print(x)

['India', 'is', 'a', 'beautiful', 'country']

In [90]:
# start spliiting by position
split_by_position = "How is this possibe"
x = re.split("\s",split_by_position, 2)
print(x)

['How', 'is', 'this possibe']

# Limit the number of splits

In [91]:
target_string = "12-45+78"

result = re.split(r"\D", target_string,maxsplit=1)  #split only on the first occurence

print(result)

['12', '45+78']

In [99]:
target_string ="12-45+78_75"
result = re.split(r"\D", taget_string, maxsplit=2)  # split on the three occurrence

print(result)

NameError: name 'taget_string' is not defined

# sub

In [98]:
#sytax= re.sub(pattern, replacement, string, flags)

In [101]:
sub_= "This function replaces spaces by assigned char"
x = re.sub("\s","====",sub_)
print(x)

This====function====replaces====spaces====by====assigned====char

In [102]:
y = 'Rs'
text = "This Item cost Rs 2500 and rS 3000"

replaced_text = re.sub(y,"$",text)
print(replaced_text)

This Item cost $ 2500 and rS 3000

In [103]:
y = 'Rs'
text = "This Item costs Rs 2500 and rS 3000"

replaced_text =re.sub(y, "$", text, flags=re.IGNORECASE)
print(replaced_text)

This Item costs $ 2500 and $ 3000

In [105]:
target_string = "APJ Abdul Kalam was   an india aerospace scientist also known as missile man of india"

res_str =re.sub(r"\s+", "", target_string)   #Remove all spaces,including single or multiplespaces ( pattern to remove \s+ )
print(res_str)

APJAbdulKalamwasanindiaaerospacescientistalsoknownasmissilemanofindia

In [106]:
target_string = "  APJ Abdul Kalam was an Indian aerospace scientist also known  as the missile man of india  "
print(target_string)

  APJ Abdul Kalam was an Indian aerospace scientist also known  as the missile man of india